{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Debut</th>
            <th>Fin</th>
            <th>options</th>
        </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}

            {% if (reservation.getUserId() == app.user.id )  %}
                <tr>
                    <td>{{ reservation.startDate ? reservation.startDate|date('Y-m-d') : '' }}</td>
                    <td>{{ reservation.endDate ? reservation.endDate|date('Y-m-d') : '' }}</td>

                    <td>
                        <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">Detailles</a>
                        <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">editer</a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="4">Vous n'avez pas de reservations :(</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
