{% extends 'base.html.twig' %}

{% block title %}Nouvelle Reservation{% endblock %}

{% block body %}
    <div class="row">
        <div class="col text-center">
            <h1>Nouvelle Reservation</h1>

            {{ include('reservation/_form.html.twig') }}
            <a href="{{ path('app_reservation_index', {'idHotel': idHotel , 'idSuite': idSuite ,'idUser':app.user.id}) }}">back to list</a>
        </div>
    </div>

{% endblock %}
