{% extends 'base.html.twig' %}

{% block title %}Nouvelle Reservation{% endblock %}

{% block body %}
    <h1 class="h1 text-center">Nouvelle Reservation</h1>

    {{ include('reservation/_form.html.twig') }}

    <a class="btn btn-sm btn-secondary" href="{{ path('app_reservation_index') }}">Retour</a>
{% endblock %}
