{% extends 'base.html.twig' %}

{% block title %}Edition{% endblock %}

{% block body %}
    <h1>Edit Suite</h1>

    {{ include('suite_controlleradmin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_suite_controlleradmin_index',{'idHotel': app.user.managerOfHotelId}) }}">Retour</a>

    {{ include('suite_controlleradmin/_delete_form.html.twig') }}
{% endblock %}
