{% extends 'base.html.twig' %}

{% block title %}Edition{% endblock %}

{% block body %}
    <h1 class="h1c h1 text-center ">Modification d'une suite</h1>

    {{ include('suite_controlleradmin/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-sm btn-secondary" href="{{ path('app_suite_controlleradmin_index',{'idHotel': app.user.managerOfHotelId}) }}">Retour</a>

    {{ include('suite_controlleradmin/_delete_form.html.twig') }}
{% endblock %}
