body {
  background-color: red;
  font-family: "Times New Roman", serif;


}

.h1c {
  color: gray;
  font-family: "Comic Sans MS", "Times New Roman", serif;
}
// to fix bootstrap bug when collapses
.navbar-collapse.in {
  display: block !important;
}

.carousel-inner {
  max-height: 30rem;
  max-width: 70rem;
  margin: auto;
}

.imgC {
  max-height: 30rem;
  max-width: 70rem;
}
@import "node_modules/bootstrap/scss/bootstrap.scss";