{% extends 'base.html.twig' %}
{% block title %}403{% endblock %}

{% block body %}
    <h1 class="text-center h1 h1c">Pas de permission</h1>
    <p class="text-center">Vous n'avez pas la permission</p>
    <p class="text-center bg-danger bg-opacity-50">error:{{ status_code }}</p>
{% endblock %}