{% extends 'base.html.twig' %}
{% block title %}404{% endblock %}

{% block body %}
    <h1 class="text-center h1 h1c">Page non trouvé</h1>
    <p class="text-center">Desolé na page n'a pas eté trouvé</p>
    <p class="text-center bg-danger bg-opacity-50">error:404</p>
{% endblock %}