{{ form_start(form) }}
<div class="m-1">
    {{ form_widget(form) }}
    <p>L'utilisateur sera :</p>
    <input type="radio" name="usertype" value="user"> User
    <input type="radio" name="usertype" value="admin"> Admin
    <input type="radio" name="usertype" value="sp"> Super Admin
</div>
<button class="btn btn-primary m-1">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
