{% extends 'base.html.twig' %}

{% block title %}Création d'un utilisateur{% endblock %}

{% block body %}
    <h1 class="h1c text-center h1">Création d'un utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a class=" m-1 btn btn-secondary btn-sm" href="{{ path('app_user_index') }}">Retour</a>
{% endblock %}
